@model CreateProjectViewModel

@{
    ViewBag.Title = "EditProject";
}

<div class="container-fluid">
    <div class="py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Project </h6>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form method="post" enctype="multipart/form-data">

                    @Html.HiddenFor(Model => Model.Id)

                    <table class="table table-bordered display-5" cellspacing="0">
                        <thead>
                            <tr>
                                <td>
                                    <div>
                                        @Html.LabelFor(Model => Model.Name, "Name : ")
                                        @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control  ", placeholder = "Type project name" })
                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.Name) </div>
                                    <div>&nbsp;</div>


                                    <div>
                                        @Html.LabelFor(Model => Model.Description, "Description : ")
                                        @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control  ", placeholder = "Type project Description" })
                                    </div>
                                    <br />
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <div>
                                            @Html.LabelFor(Model => Model.Archive, "Archive project : ")
                                            @Html.CheckBoxFor(Model => Model.Archive, new { @class = "checkbox-inline"})
                                        </div>
                                    }
                               
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>&nbsp;  
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





