<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bug-tracker</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom styles for datatbles-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-bug"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> Bug-tracker</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Dashboard", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            @if (User.IsInRole("Admin"))
            {

                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UserRoleList","Role")">
                        <i class="fas fa-user-cog"></i>
                        <span>Manage Roles</span>
                    </a>
                </li>

            }
            

            <!--Project Collapse Menu -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-layer-group"></i>
                    <span>Project</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <a class="collapse-item" href="@Url.Action("ProjectsList","Project")">All Project(s)</a>
                            <a class="collapse-item" href="@Url.Action("CreateProject","Project")">+ Create New Project</a>
                        }

                        <a class="collapse-item" href="@Url.Action("MyProjectsList","Project")">My Project(s)</a>
                       
                    </div>
                </div>
            </li>


            <!--Ticket Collapse Menu -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Ticket</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <a class="collapse-item" href="@Url.Action("TicketsList", "Ticket")">
                                <span>All Ticket(s)</span>
                            </a>
                        }

                        <a class="collapse-item" href="@Url.Action("MyTicketsList", "Ticket")">

                            <span>My Project's Ticket(s)</span>
                        </a>


                        @if (User.IsInRole("Developer"))
                        {
                            <a class="collapse-item" href="@Url.Action("AssignedTicketsList", "Ticket")">

                                <span>Assigned Ticket(s)</span>
                            </a>
                        }

                        @if (User.IsInRole("Submitter"))
                        {
                            <a class="collapse-item" href="@Url.Action("OwnedTicketsList", "Ticket")">

                                <span>Owned Ticket(s)</span>
                            </a>

                            <a class="collapse-item" href="@Url.Action("CreateTicket", "Ticket")">

                                <span>+ New Ticket(s)</span>
                            </a>
                        }

                    </div>
                </div>
            </li>

            <!--Setting USerProfile Collapse Menu -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Setting UserProfile</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("ChangeUserNickName","Manage")">Change UserName</a>
                        <a class="collapse-item" href="@Url.Action("ChangePassword","Manage")">Reset Password</a>
                    </div>
                </div>
            </li>


            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            @*<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">*@
                            <div class="input-group-append">
                                @*<button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>*@
                            </div>
                        </div>
                    </form>
                    <!-- Topbar Navbar -->

                    <div class="text-center text-right">@Html.Partial("_LoginPartial")</div>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->

                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        @RenderBody()
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; YOUNGSOO SHIN 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

    </script>
</body>
</html>
