@model CreateTicketViewModel
@{
    ViewBag.Title = "CreateTicket";
}

<div class="container-fluid">

    <div class="py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">

                <form method="post" enctype="multipart/form-data">
                   
                    <table class="table table-bordered display-5" cellspacing="0">
                        <thead>
                            <tr>
                                <td>
                                    <div>

                                        @Html.LabelFor(Model => Model.ProjectId, "Project Name:")
                                        @Html.DropDownListFor(Model => Model.ProjectId, new SelectList(Model.ProjectIdNameList, "Id", "Name"), "-Select project name-", new { @class = "form-control" })


                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.ProjectIdNameList) </div>
                                    <div>&nbsp;</div>

                                    <div>
                                        @Html.LabelFor(Model => Model.Title, "Ticket Title : ")
                                        @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control  ", placeholder = "-Type Ticket name-" })
                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.Title) </div>
                                    <div>&nbsp;</div>

                                    <div>
                                        @Html.LabelFor(Model => Model.Description, "Description : ")
                                        @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control  ", placeholder = "-Type Ticket Description-" })
                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.Description) </div>
                                    <div>&nbsp;</div>

                                    <div>
                                        @Html.LabelFor(Model => Model.TicketTypeId, "Ticket Type:")
                                        @Html.DropDownListFor(Model => Model.TicketTypeId, new SelectList(Model.TicketTypeNameList,"Id","Name"),
                                                             "-Select a type -",
                                                            new { @class = "form-control" })
                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.TicketTypeId) </div>
                                    <div>&nbsp;</div>
                                    <div>
                                        @Html.LabelFor(Model => Model.TicketPriorityId, "Ticket Priority:")
                                        @Html.DropDownListFor(Model => Model.TicketPriorityId, new SelectList(Model.TicketPriorityNameList,"Id","Name"),
                                                             "-Select a priority -",
                                                            new { @class = "form-control" })

                                    </div>
                                    <div class="text-danger"> @Html.ValidationMessageFor(Model => Model.TicketPriorityId) </div>
                                    <div>&nbsp;</div>

                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">SAVE</button>&nbsp;
                        <a class="btn btn-primary" href="@Url.Action("MyTicketsList", "Ticket")" , role="button">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


